/* Display description lists on a line. */

dt {
  display: inline-block;
  font-weight: bold;
}

dd {
  display: inline-block;
  float: right;
}

/* Let enough space so that description lists attributes ('dd' and 'dt') hold on a single line. */

fieldset {
  display: inline-block;
  width: 8em;
}

fieldset legend {
  font-weight: bold;
}

/* Colors and shadows. */

fieldset#Bot0 legend, fieldset#Bot0 dt {
  color: #FF0000;
  text-shadow: 1px 1px #C0C0C0;
}

fieldset#Bot1 legend, fieldset#Bot1 dt {
  color: #00FF00;
  text-shadow: 1px 1px #C0C0C0;
}

fieldset#Bot2 legend, fieldset#Bot2 dt {
  color: #0000FF;
  text-shadow: 1px 1px #C0C0C0;
}

fieldset#Bot3 legend, fieldset#Bot3 dt {
  color: #FFFF00;
  text-shadow: 1px 1px #C0C0C0;
}

fieldset#Bot4 legend, fieldset#Bot4 dt {
  color: #FF00FF;
  text-shadow: 1px 1px #C0C0C0;
}

fieldset#Bot5 legend, fieldset#Bot5 dt {
  color: #00FFFF;
  text-shadow: 1px 1px #C0C0C0;
}

fieldset#Bot6 legend, fieldset#Bot6 dt {
  color: #FF8000;
  text-shadow: 1px 1px #C0C0C0;
}

fieldset#Bot7 legend, fieldset#Bot7 dt {
  color: #8000FF;
  text-shadow: 1px 1px #C0C0C0;
}

fieldset#BotDead legend, fieldset#BotDead dt, fieldset#BotDead dd {
  color: #808080;
  text-shadow: 1px 1px none;
}

/* Close the arena with a line. The attribute 'width' is gained when the game start. Before that, there is no outline visible. */

canvas[width] {
  border: 1px solid #808080;
}
